<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>Express Developer Skills</title>
    </head>
    
    <body>
        <a href="/">Home</a>
        <h3>Skills List</h3>
        <ul>
            <% skills.forEach(function(s) { %>
                <li>
                    <a href="/skills/<%= s.id %>"><%= s.skill %></a>
                    - Status: 
                    <%= s.learned ? 'Learned' : 'Not Learned' %>
                    <form action="/skills/<%= s.id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete Skill</button>
                    </form>
                </li>
            <% }); %>
        </ul>
        <a href="/skills/new">Add a Skill</a>
    </body>
</html>