<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Skills List- Add A Skill</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <a href="/">Home</a>
        |
        <a href="/skills">Skills List</a>
        <h1>Add a New Skill</h1>

        <form action="/skills" method="post">
            <input type="text" name="skill">
            <button type="submit">Add Skill</button>
        </form>
    </body>
</html>